.list-results{
    background-color: rgb(232, 231, 231);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
    width: 100%;
}

.list{
    width: 100%;
    padding: 0rem 2rem 0rem 2rem;
}